<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>OCR AN IMAGE AND SUMMARIZE</title>
        <link href="{% static 'css/form.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" >
    </head>
    <body >
        <div class="container">
            <div class="form-container">
                <p style="color: red;">{{message}}</p>
                <h1>
                    Ocr an Image and Summarize Using Gensim
                </h1>
                <form method="POST" enctype=multipart/form-data>
                    {% csrf_token %}
                    <label> Image Upload:</label>
                    <input type="file" class="form-control" id="image" name="image" />
                    <button class="button-primary" type="submit" >Submit</button>
                </form>
                <label><h2>Ocred Text:</h2></label>
                <span class="textarea" role="textbox" contenteditable>{{text}}</span>

                <label><h2>Summarized Text:</h2></label>
                <span class="textarea" role="textbox" contenteditable>{{summarized_text}}</span>

            </div>
        </div>
    </body>


</html>